.editor .platform-selection-row {
  display: flex;
  justify-content: space-between;
}
.editor .platform-selection-row .github-link {
  margin-top: 1.5rem;
  margin-left: 1rem;
}

@media (min-width: 700px) {
  .editor .platform-selection-row {
    display: block;
  }
  .editor .platform-selection-row .github-link {
    display: none;
  }
}