.editor .platform-selection-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editor .platform-selection-row .mdl-list__item-secondary-content {
  margin-left: 2rem;
}
.editor .platform-selection-row .github-link {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 700px) {
  .editor .platform-selection-row {
    display: block;
  }
  .editor .platform-selection-row .github-link {
    display: none;
  }
}