.item.mdl-list__item {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
}

.item.mdl-list__item .mdl-list__item-secondary-content {
  margin-left: 0;
}
.item.mdl-list__item .mdl-list__item-secondary-content .mdl-switch {
  margin-top: 0.75rem;
}
.item.mdl-list__item .mdl-list__item-secondary-content .mdl-switch__label {
  white-space: nowrap;
}

@media (min-width: 840px) {
  .item.mdl-list__item {
    flex-direction: row;
    align-items: center;
    margin-top: 0;
  }
  .item.mdl-list__item .mdl-list__item-secondary-content {
    margin-left: 1rem;
  }
  .item.mdl-list__item .mdl-list__item-secondary-content .mdl-switch {
    margin-top: 0;
  }
}