.top-bar .mdl-layout__header-row {
  padding-left: 1rem;
  padding-right: 1rem;
}
.top-bar .header-knots-link {
  margin-right: 1rem;
}
.top-bar .header-github-link {
  display: none;
}

.top-bar .title-long {
  display: none;
}

@media (min-width: 700px) {
  .top-bar .title-long {
    display: block;
  }
  .top-bar .title-short {
    display: none;
  }

  .top-bar .header-github-link {
    margin-left: 1rem;
    display: inline-block;
  }
}