.mdl-layout__header-row.top-bar {
  padding-left: 1rem;
  padding-right: 1rem;
}
.mdl-layout__header-row.top-bar .header-knots-link {
  margin-right: 1rem;
}
.mdl-layout__header-row.top-bar .header-github-link {
  margin-left: 1rem;
}

.mdl-layout-title.title-long {
  display: none;
}

@media (min-width: 700px) {
  .mdl-layout-title.title-long {
    display: block;
  }
  .mdl-layout-title.title-short {
    display: none;
  }
}